#menu {
    padding-top: 80px;
    padding-bottom: 10px;
    z-index: 10;
    background-color: #a9c3d0;
    position: fixed;
    
    .navigation-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
            font-size: 16px;
            min-height: 30px;

            a {
                text-decoration: none;
                color: inherit
            }
        }

        ul {
            margin-left: 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-bottom: 15px;

            li {
                min-height: 25px;
                font-size: 12px;
            }
        }
    }
}