#testimonials-page {
    padding-top: 90px;
    background-color: #576c82;

    h2 {
        margin-bottom: 30px;
        font-size: 40px;
        width: 100%;
        color: #f6f7f3;
        text-align: center;
    }
}