.navbar {
    background-color: grey;
    width: 100dvw;
    padding: 15px 30px 5px;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    align-items: center;
    z-index: 11;

    span {
        font-size: 40px;
        max-height: fit-content
    }
}