#chiropractic {
    padding-top: 80px;
    padding-bottom: 50px;

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
    }

    .services-container {
        margin-top: 50px;
    }
}