.footer {
    background-color: #464e5a;
    min-width: 100dvw;
    padding: 0px 30px;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;

    .address {
        // background-color: rgb(248, 247, 247);
        background-color: #a9c3d0;
        width: 100dvw;
        margin-left: -30px;
        justify-content: center;
        text-align: center;
        padding: 50px 0px;
        min-height: 200px;

        h3 {
            font-size: 16px;
            color: #464e5a;
        }

        li {
            font-size: 14px;
            color: #464e5a;
            

            a {
                color: rgb(248, 247, 247);
            }
        }
    }
    .hours {
        height: 30dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #f6f7f3;
        margin-top: 40px;
        margin-bottom: 70px;
        padding-top: 70px;
        padding-bottom: 20px;

        h3 {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 30px;
            color: #a9c3d0;
        }


        strong {
            color: #a9c3d0;
        }

       .socials {
            display: flex;
            list-style: none;
            width: 25dvw;
            margin: auto;
            justify-content: space-between;
            font-size: 20px;
            color: #a9c3d0;
            z-index: 12;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .hours-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 50px;
        }

    }

    .map {
        p {
            margin-left: -30px;
            margin-top: 70px;
            z-index: 10;
        }
    }

    .footnote {
        margin-top: 20px;
        padding-bottom: 20px;
        color: #f6f7f3;
        text-align: center;
        font-size: 10px;
    }
}

// Desktop
@media only screen and (min-height: 700px) and (min-width: 1100px) {
    .footer {
        flex-direction: row;
        padding-bottom: 35px;
        justify-content: space-between;
        min-width: 105dvw;

        .address {
            max-width: 33%;
        }

        .hours {
            max-width: 34%;
            min-width: 34%;
            margin-top: 0px;

            .hours-list {
                margin-bottom: 10px;
            }
        }

        .map {
            max-width: 34%;
            min-width: 34%; 
            background-color: #a9c3d0;

            p {
                margin-top: 0px;
                margin: auto;
                max-width: 90%;
                margin-left: auto;
            }
        }

        .footnote {
            position: absolute;
            bottom: 0px;
            background-color: #576c82;
            width: 100svw;
            margin-left: -30px;
            padding-top: 15px;

        }
    }
}