* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    max-width: 100dvw;
    max-height: 100dvh;
    min-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page {
    background-color: #f6f7f3;
    min-height: 100dvh;
    min-width: 100dvw;
    height: fit-content;
    padding: 80px 30px 50px;

    h2, h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 10px;
    }
}

.closed {
    display: none;
}