.services-card {
    background-color: #6e8c73;
    margin-top: 10px;
    padding: 50px 0px;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: #f6f7f3;
    padding-left: 25px;
    padding-right: 25px;

    p {
        font-size: 18px;
        text-align: left;
    }
}